/*******************************************************************************
*                               COMMON                                         *
*******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');    

// GENERAL RULE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $brown;
}

// UTILITY
@mixin list-style {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
@mixin vertical-align-flex {
    display: flex;
    align-items: center;
}
@mixin flex ($direction, $aligItems:none, $justify:none) {
    display: flex;
    flex-direction: $direction;
    align-items: $aligItems;
    justify-content: $justify;
}
// Jubotron Utiliy 
@mixin jumbotron__button-action {
    font-size: 13px;
    padding:  5px 10px;
    border-radius: 5px;
    color: $white;
    background-color: $jumbotron__button-color;
}

///////////////////////////////////////////////////////////
@media (min-width: 768px) { 
    .container {
        width: 95%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1100px;    
    } 
}
