/*******************************************************************************
*                                    HEADER                                    *
*******************************************************************************/

header {
    background-color: #fff;
    .header-nav {
        height: 75px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $brown;
        position: relative;

        img {
            cursor: pointer;
        }

        .menu-icon {
            font-size: 20px;
            color: $brown;
            cursor: pointer;
        }
    }

    .menu-list-descktop {
        display: none;
    }

    .menu-list-mobile {
        display: none;
        width: 100%;
        position: absolute;
        top: 75px;
        left: 0;
        background-color: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 10px 15px;

        @include list-style;
        @include menu-list-item;
        
        li {
            padding: 10px 20px;
        }
        
        
    }

    .google-btn {
        padding: 10px;
        border: 1px solid $button-blue;
        border-radius: 5px;
        transition: background .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 20px;
            margin-right: 5px;
        }

        &:hover,
        &:hover a {
            background-color: $blue-menu-hov;
            color: #fff;
        }

    }
}

@media (min-width: 768px) { 

    header {
        .header-nav {
            .menu-icon {
                display: none;
            }
    
            .menu-container {
                display: block;
            }
        }

        .menu-list-mobile {
            display: none;
        }

        .menu-list-descktop {
            @include vertical-align-flex;
            @include menu-list-item;
            
            i {
                margin-left: 5px;
            }
    
            .sub-menu {
                @include list-style;
                @include sub-menu;
    
                li {
                    padding: 10px;
                }
    
            }
            
            .google-btn {
                display: flex;
                align-items: center;
                padding: 5px;
            }
    
        }    
  
    }
 
}

