// Jumbotron

.jumbotron__section {
    padding-top: 120px;
    background-color: $white;
    
    .jumbotron {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .jumbotron__img {
       width: 100%;
       margin: 20px 0;
    }

}

.jumbotron__sx {

    width: 100%;

    .jumbotron__title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    .jumbotron__paragraph {
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
    }
    
    .jumbotron__action {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
            display: flex;
            align-items: center;

            &:nth-child(2) {
                padding: 0 10px
            }

            &:last-child,
            &:first-child {
                @include jumbotron__button-action
            }

            &:last-child:hover,
            &:first-child:hover {
                background-color: $jumbotron__button-color-hov;
            }

        }

        img {
            height: 100%;
            height: 20px;
            padding-right: 10px;
        }

    }

}

@media (min-width: 992px) { 

    .jumbotron__section {
        
        .jumbotron {
            flex-direction: row;
            align-items: center;
            
            .jumbotron__img {
                width: 50%;
                padding: 20px;
            }
        }
    }

    .jumbotron__sx {
        width: 50%;


    }
}

