// Jumbotron

.jumbotron__section {
    padding-top: 120px;
    background-color: $white;
    
    .jumbotron {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .jumbotron__img {
       width: 100%;
       margin: 20px 0;
    }

}

.jumbotron__sx {

    width: 100%;

    .jumbotron__title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    .jumbotron__paragraph {
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
    }
    

}

@media (min-width: 992px) { 

    .jumbotron__section {
        
        .jumbotron {
            flex-direction: row;
            align-items: center;
            
            .jumbotron__img {
                width: 50%;
                padding: 20px;
            }
        }
    }

    .jumbotron__sx {
        width: 50%;


    }
}

