/*******************************************************************************
*                             SECOND SECTION                                   *
*******************************************************************************/

.second__section {
    background: $white;
    padding: 20px;
}

.second__container {
    @include flex (column);
    padding: 50px 0;
}

.second__block {
    padding: 10px;
    display: flex;
    @include flex (column);

    img {
        width: 100%;
    }

    .text {
        text-align: center;
        @include flex (column,center);
        
        h1 {
            margin-top: 30px;
        }

        p {
            margin: 20px 0;
        }

        span {
            font-weight: bold;
            padding: 60px 0;
            color: $blue;
            cursor: pointer; 
        }

        img {
            width: 300px;   
        }     
    }

}

@media (min-width: 928px) {

    .second__container {
        padding: 60px 20px;
    }

    .second__block {
        @include flex (row, center);
        
        img { 
            width: 50%;
        }

        &.row-reverse {
            flex-direction: row-reverse;
        }
        
        .text {
            text-align: start;
            align-items: flex-start;
            padding-left: 40px;

            p {
                max-width: 50%;
            }

            &.text-reverse {
                text-align: end;
                align-items: flex-end;
                padding-right: 50px;
            }
        }
    }
}

