/*******************************************************************************
*                               VARIABILI                                         *
*******************************************************************************/

// Color 
$white: #fff;
$brown: #58402c;
$blue: #1155cc;
$button-blue: #1155cc;
$blue-menu-hov: #1155cc;
$hover-button-color: #30488f;
$button-color-hov: #233569;

// Jumbotron
$jumbotron__button-color: #30488f;

// Primary section
$primary__section-background: #ffe7d2;

// Third section background
$third__section-background: #ffe7d2;




