// VARIABILI


// Color 
$white: #fff;
$brown: #58402c;
$button-blue: #1155cc;
$blue-menu-hov: #1155cc;
$hover-button-color: #30488f;

// Jumbotron
$jumbotron__button-color: #30488f;
$jumbotron__button-color-hov: #233569;
